<!DOCTYPE html>
<html>
    <head>
        <title>Visual Weather</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
<body>
    <nav class="navbar">
        <ul class="topnav">
            <li><a href="#home">Home</a></li>
            <li><a href="#today">Today</a></li>
            <li><a href="#tomorrow">Tomorrow</a></li>
            <li class="dropdownIcon"><a href="javascript:void(0)" onCick="dropdownMenu()">&#9776;</a></li>
        </ul>
        
    </nav>
    
    <div class="container">
        
