<% include partials/header %>

<h1>Thanks for landing on the landing page!</h1>

<form>
    <div class="form-group">
        <lable for="address">Street Address</lable>
        <input class="form-control" type="text" name="address" id="address" placeholder="Address">
    </div>
    
    <div class="form-group">
        <lable for="city"></lable>
        <input class="form-control" type="text" name="city" id="city" placehoder="City">
    </div>
    
    <div class="form-group">
        <lable for="state"></lable>
        <input class="form-control" type="text" name="state" id="state" placehoder"State">
    </div>
</form>



<% include partials/footer %>